@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Basic Sans SF";
  src: url("../fonts/basic-sans.ttf");
  font-weight: 700;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  font-size: 5vw;
  letter-spacing: 10px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 10px;
}
.loading-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #212121;
  bottom: -12px;
  left: 0;
  animation: movingLine 2.4s infinite ease-in-out;
}
.loading-text span {
  color: #212121;
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #646464;
  scroll-behavior: smooth;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.block-1 {
  display: flex;
  align-items: center;
}

.subtitle {
  color: #646464;
  font-size: 1.11111rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}

.title {
  color: #212121;
  font-family: Poppins, sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.08em;
  padding-bottom: 1.4rem;
}

.text {
  line-height: 1.66667rem;
  padding-bottom: 2.8rem;
}

.btn {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 1.11111rem 0;
  background-color: #37806B;
}

.rounded-img-container {
  padding-right: 1.8rem;
  padding-bottom: 1.8rem;
}

.rounded-img-wrapper {
  position: relative;
}

.rounded-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 7.77778rem 0;
  background-color: inherit;
}

.rounded-img-decore {
  position: absolute;
  left: 1.8rem;
  top: 1.8rem;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 7.77778rem 0;
  background-color: inherit;
  border: 2px solid #B0855B;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.hide {
  transform: translateX(-100%);
  opacity: 0;
}

.hidden {
  display: none;
}

@media (max-width: 992px) {
  .title {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .rounded-img,
  .rounded-img-decore {
    border-radius: 5rem 0;
    background-color: inherit;
  }
  .rounded-img-container {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .rounded-img-decore {
    left: 1rem;
    top: 1rem;
  }
}
.inactive-user-alert {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inactive-user-alert__content {
  background: #FFFFFF;
  margin: 0 10px;
  max-width: 400px;
  border-radius: 1rem;
  padding: 30px;
}

.inactive-user-alert__title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.inactive-user-alert__btn-container {
  display: flex;
  gap: 1rem;
}

.inactive-user-alert__btn {
  cursor: pointer;
  border: 0;
  border-radius: 0.6rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #FFFFFF;
}

.inactive-user-alert__btn_yes {
  background: #007E33;
}

.inactive-user-alert__btn_no {
  background: #CC0000;
}

.header {
  position: relative;
}
.header::before {
  content: url("../img/common/decore.svg");
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transform: translateY(50%);
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 0.88889rem;
  font-weight: 600;
  background-color: #FFFFFF;
}

.header__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__top-progress-container {
  height: 6px;
  width: 100%;
  background: #F8F8F8;
}

.header__top-progress-bar {
  height: 6px;
  background: #CAA892;
  width: 0;
}

.header__logo {
  z-index: 2;
}

.menu__list {
  display: flex;
  gap: 5px;
}

.menu__list-item {
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  border: 5px solid #37806B;
  background: #FFF;
  color: #37806B;
  padding: 10px 15px;
  color: #212121;
  border-color: #FFFFFF;
}

.menu__list-item_selected {
  color: #646464;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.menu__list-item-sign-up {
  border-radius: 20px;
  border: 5px solid #37806B;
  background: #FFF;
  color: #37806B;
  padding: 10px 15px;
  padding-right: 0;
  border-color: #FFFFFF;
  border-right: 0;
  transition: all 0.2s ease-in-out;
}

.menu__link_sign-up {
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0.3rem 1.05rem;
  border-radius: 0.83333rem 0;
  background-color: #CAA892;
}

.header__toggler {
  display: none;
}

.header__content {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  gap: 2.5rem;
}

.header__content-content {
  width: 50%;
}

.header__content-title {
  font-weight: 600;
  font-size: 4rem;
}

.header__content-btn-container {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  scale: 1;
}

.header__content-img-container {
  display: flex;
  justify-content: end;
}

@media (max-width: 1300px) {
  .header__content-title {
    font-size: 3rem;
  }
}
@media (max-width: 1050px) {
  .header__top {
    font-size: 0.778rem;
  }
}
@media (max-width: 992px) {
  .menu {
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #F8F8F8;
    padding-top: 100px;
    transition: all 0.2s ease-in-out;
  }
  .menu__list {
    flex-direction: column;
    gap: 1em;
    padding-left: 20px;
  }
  .menu__list-item,
  .menu__list-item-sign-up {
    padding: 0;
    border: 0;
    background: none;
  }
  .menu__list-item-sign-up {
    padding-top: 10px;
  }
  .header__toggler {
    display: block;
    cursor: pointer;
  }
  .toggler {
    position: relative;
    z-index: 2;
    width: 35px;
    height: 27px;
    border: 0;
    background-color: transparent;
  }
  .toggler__line,
  .toggler::before,
  .toggler::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #212121;
    height: 5px;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
  .toggler__line {
    top: 50%;
    transform: translateY(-50%);
  }
  .toggler::before {
    top: 0;
  }
  .toggler::after {
    bottom: 0;
  }
  .header__top_open .toggler__line {
    left: 50%;
    width: 0;
  }
  .header__top_open .toggler::before {
    top: calc(50% - 2.5px);
    transform: rotate(45deg);
  }
  .header__top_open .toggler::after {
    bottom: calc(50% - 2.5px);
    transform: rotate(-45deg);
  }
  .header__top_open .menu {
    left: 0;
  }
  .header__content {
    flex-direction: column-reverse;
  }
  .header__content-content {
    width: 100%;
  }
  .header__content-title {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .menu__list-item,
  .menu__list-item-sign-up {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .menu__list-item:hover {
    border-radius: 20px;
    border: 5px solid #37806B;
    background: #FFF;
    color: #37806B;
    padding: 10px 15px;
  }
  .menu__list-item-sign-up:hover {
    scale: 1.2;
  }
  .header__content-btn-container:hover {
    scale: 1.1;
  }
}
.service {
  margin-top: 150px;
  padding-top: 50px;
}

.service__filter {
  display: flex;
  gap: 4rem;
  margin-bottom: 6rem;
}

.service__filter-item {
  border-radius: 20px;
  border: 5px solid #37806B;
  background: #FFF;
  color: #37806B;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.88889rem;
  font-weight: 700;
  background: #37806B;
  width: 100%;
  max-width: 11rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.service__filter-item_selected {
  border-radius: 20px;
  border: 5px solid #37806B;
  background: #FFF;
  color: #37806B;
  padding: 10px 15px;
}

.service__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.service__content-row {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.service__card {
  border-radius: 3.33333rem 0;
  background-color: inherit;
  background: #FFFFFF;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.14);
  padding: 2rem 3rem;
  max-width: calc(33.3333333333% - 6rem);
  width: 100%;
}

.service__card_special {
  background: #CAA892;
}
.service__card_special .service__card-title,
.service__card_special .service__card-desc {
  color: #FFFFFF;
}

.service__card-title {
  color: #212121;
  font-size: 1.33333rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
}

.service__card-desc {
  padding: 0;
}

@media (max-width: 992px) {
  .service__filter {
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .service__content {
    flex-direction: column;
    gap: 2rem;
  }
  .service__content-row {
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
  }
  .service__card {
    max-width: calc(100% - 6rem);
  }
}
@media (max-width: 576px) {
  .service__filter {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.about {
  margin-top: 90px;
  padding-top: 50px;
  position: relative;
}
.about::before {
  content: url("../img/common/decore-2.svg");
  position: absolute;
  right: 0;
  bottom: 200px;
  z-index: 0;
}

.about-us {
  gap: 4rem;
}

.about-us__img-container {
  padding: 1.8rem 0 0 1.8rem;
}

.about-us__rounded-img-decore {
  left: -1.8rem;
  top: -1.8rem;
}

.about-us__content {
  width: 50%;
}

.about-us__btn-container,
.years-20__btn-container {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  scale: 1;
}

.years-20 {
  position: relative;
  z-index: 1;
  gap: 4rem;
  margin-top: 180px;
}

.years-20__content {
  width: 50%;
}

.years-20__title,
.years-20__btn-container {
  margin-top: 1.5rem;
}

.years-20__img-20 {
  max-width: 100%;
}

@media (max-width: 992px) {
  .about-us {
    flex-direction: column;
  }
  .years-20 {
    flex-direction: column-reverse;
  }
  .about-us__content,
  .years-20__content {
    width: 100%;
  }
  .years-20__title {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .about-us__btn-container:hover,
  .years-20__btn-container:hover {
    scale: 1.1;
  }
}
.completed-work {
  position: relative;
  background: #F8F8F8;
  margin-top: 200px;
  padding-top: 4.8rem;
  padding-bottom: 5.8rem;
}

.completed-work__title {
  text-align: center;
}

.diagram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diagram__item {
  width: 185px;
  height: 182px;
  background: #FFFFFF;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40px 0;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diagram__item_other-side {
  margin-top: 170px;
}

.diagram__item-number {
  text-align: center;
  color: #212121;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
}

.diagram__item-title {
  text-align: center;
  font-weight: 600;
}

.diagram__line {
  width: calc((100% - 740px) / 3);
  transform: translateY(50%);
}

@media (max-width: 992px) {
  .diagram {
    flex-direction: column;
    gap: 1rem;
  }
  .diagram__line {
    display: none;
  }
  .diagram__item_other-side {
    margin: 0;
  }
}
.testimonials {
  position: relative;
}
.testimonials::before {
  content: url("../img/common/decore.svg");
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transform: translateY(-50%);
}

.testimonials__inner {
  padding: 6rem 0;
}

.testimonials__title,
.testimonials__subtitle {
  text-align: center;
}

.testimonials__title {
  padding: 0;
}

.testimonials__swiper-buttons {
  display: flex;
  justify-content: end;
  gap: 53px;
  padding-top: 10px;
  padding-right: 40px;
  margin-bottom: 70px;
}

.testimonials__swiper-button-prev,
.testimonials__swiper-button-next {
  border: 0;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.2s ease-in-out;
}
.testimonials__swiper-button-prev:hover,
.testimonials__swiper-button-next:hover {
  background: #37806B;
}
.testimonials__swiper-button-prev:hover svg path,
.testimonials__swiper-button-next:hover svg path {
  stroke: #FFFFFF;
}

.testimonials__swiper-button-prev-img,
.testimonials__swiper-button-next-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.testimonials__swiper-button-prev-img {
  left: 35%;
}

.testimonials__swiper-button-next-img {
  right: 35%;
}

.testimonials__slide-wrapper {
  padding-bottom: 50px;
  padding-left: 105px;
  padding-right: 40px;
}

.testimonials__slide-content {
  border-radius: 3.88889rem 0;
  background-color: #FFFFFF;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  padding: 2.28rem 2.11rem 3.33rem 5.5rem;
  position: relative;
}

.testimonials__slide-image-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 1.94444rem 0;
  background-color: inherit;
  height: 130px;
  width: 130px;
  overflow: hidden;
}

.testimonials__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials__slide-person-info {
  display: flex;
  align-items: end;
  padding-bottom: 0.44rem;
  position: relative;
  z-index: 1;
}

.testimonials__slide-person-name {
  color: #212121;
  font-size: 1.33333rem;
  font-weight: 700;
}

.testimonials__slide-person-info-delimiter {
  padding-left: 5px;
}

.testimonials__slide-person-info-delimiter,
.testimonials__slide-person-position {
  font-size: 0.88889rem;
}

.testimonials__slide-review {
  line-height: 1.56em;
}

.testimonials__slide-decoration {
  color: #B0855B;
  font-family: "Basic Sans SF", sans-serif;
  font-size: 5.33333rem;
  font-weight: 700;
  position: absolute;
  z-index: 0;
  top: 0.83rem;
  right: 1.89rem;
}

@media (max-width: 576px) {
  .testimonials__swiper-buttons {
    margin-bottom: 20px;
    gap: 20px;
  }
  .testimonials__slide-person-info-delimiter {
    display: none;
  }
  .testimonials__slide-person-position {
    padding-top: 5px;
  }
  .testimonials__slide-person-info {
    flex-direction: column;
    align-items: start;
  }
  .testimonials__slide-image-wrapper {
    display: none;
  }
  .testimonials__slide-wrapper {
    padding-left: 40px;
  }
  .testimonials__slide-content {
    padding: 2rem;
  }
}
.latest-news {
  background: #F8F8F8;
  position: relative;
  overflow: hidden;
}

.latest-news__inner {
  padding-top: 5rem;
  padding-bottom: 6.5rem;
}

.latest-news__title,
.latest-news__subtitle {
  text-align: center;
}

.latest-news__title {
  padding-bottom: 4.5rem;
}

.latest-news__content {
  display: flex;
  gap: 6rem;
  transition: all 2s ease-in-out;
}

.latest-news__item {
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.latest-news__rounded-img-container {
  max-height: 400px;
  height: 100%;
}

.latest-news__rounded-img-wrapper {
  height: 100%;
}

.latest-news__rounded-img {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.latest-news__item-title {
  margin-top: 2.3rem;
  margin-bottom: 0.95rem;
  color: #212121;
  font-size: 1.66667rem;
  font-weight: 600;
}

.latest-news__btn-container {
  display: inline-block;
  scale: 1;
  transition: all 0.3s ease-in-out;
}

.latest-news__item-text,
.latest-news__btn-container {
  opacity: 0;
}

@media (max-width: 992px) {
  .latest-news__content {
    flex-direction: column;
  }
  .latest-news__item {
    display: flex;
    flex-direction: column;
  }
  .latest-news__item-text,
  .latest-news__btn-container {
    opacity: 1;
  }
  .latest-news__rounded-img-container {
    max-height: none;
    height: auto;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .latest-news__btn-container:hover {
    scale: 1.1;
  }
  .latest-news__item:hover {
    scale: 1.1;
  }
  .latest-news__item:hover .latest-news__item-text,
  .latest-news__item:hover .latest-news__btn-container {
    opacity: 1;
  }
}
.map__inner {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 4rem;
  position: relative;
}
.map__title::before {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  content: "";
  max-width: 620px;
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
}

.map__container {
  height: 600px;
  max-width: 1000px;
  width: 100%;
}

.sign-up {
  position: relative;
}
.sign-up::before {
  content: url("../img/common/decore-2.svg");
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  transform: translateY(-50%);
}

.sign-up__inner {
  position: relative;
  z-index: 0;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}

.sign-up__title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 4rem;
  position: relative;
}
.sign-up__title::before {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  content: "";
  max-width: 461px;
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
}

.sign-up__text {
  text-align: center;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.sign-up__form {
  max-width: 750px;
  margin: 0 auto;
}

.sign-up__form-row {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-bottom: 3rem;
}

.sign-up__input {
  border: 0;
  width: 100%;
  border-radius: 1.11111rem 0;
  background-color: #EEEEEE;
  padding: 1rem 1.5rem;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.sign-up__input::placeholder {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.sign-up__input:focus {
  outline: none;
}

.sign-up__btn {
  border: 0;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
}

.sign-up__form-messages {
  max-width: 750px;
  margin: 3rem auto;
}

.invalid-input {
  border: 2px solid #ED4337;
}

.celebration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
  background: linear-gradient(106.5deg, rgb(255, 215, 185) 23%, rgb(223, 159, 247) 93%);
}

.celebration__message {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .sign-up__form {
    padding: 0 20px;
  }
  .sign-up__form-row {
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .sign-up__form-messages {
    margin: 1.5rem auto;
  }
}
.footer {
  background-color: #F8F8F8;
  position: relative;
}
.footer::before {
  content: url("../img/common/decore.svg");
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transform: translateY(-50%);
}

.footer__content {
  position: relative;
  z-index: 1;
  padding-top: 93px;
  padding-bottom: 69px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer__company {
  max-width: 350px;
}

.footer__company-desc {
  margin-top: 0.833em;
  line-height: 1.5556em;
}

.footer__nav {
  display: flex;
  gap: 3rem;
}

.footer__nav-header {
  font-weight: 600;
  font-size: 1.333rem;
  line-height: 1.667em;
  color: #212121;
  margin-bottom: 1em;
}

.footer__nav-list-item {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.footer__nav-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.footer__social-media-links {
  display: flex;
  gap: 0.44rem;
}

.footer__social-media-circle {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background-color: #D5D5D5;
}

.footer__social-media-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__copyrights {
  text-align: center;
  border-top: 1px solid #C4C4C4;
  font-size: 0.875rem;
  line-height: 1.25em;
  padding: 1rem;
}

.footer__copyrights-highlighted {
  color: #37806B;
}

@media (max-width: 992px) {
  .footer__content {
    flex-direction: column;
  }
  .footer__nav {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (min-width: 992px) {
  .footer__nav-link:hover {
    color: #000000;
    text-decoration: underline;
  }
  .footer__social-media-link:hover .footer__social-media-circle {
    background-color: #37806B;
  }
}

/*# sourceMappingURL=style.css.map */
