@use "vars.scss" as vars;

.completed-work {
  position: relative;
  background: vars.$grey-bg;
  margin-top: 200px;
  padding-top: 4.8rem;
  padding-bottom: 5.8rem;
}

.completed-work__title {
  text-align: center;
  padding-bottom: 4.8rem;
}