@use "vars.scss" as vars;
@use "mixins.scss" as mixins;

// set default font
html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #646464;
  scroll-behavior: smooth;
}

.container {
  max-width: vars.$container-width;
  padding: 0 vars.$container-padding-x;
  margin: 0 auto;
}

// style header__content, about, etc blocks
$image-rect-space: 1.8rem;
$image-rect-space-small: 1rem;
$image-rect-border-radius: 7.77778rem;
$image-rect-border-radius-small: 5rem;

.block-1 {
  display: flex;
  align-items: center;
}

.subtitle {
  color: #646464;
  font-size: 1.11111rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}

.title {
  color: #212121;
  font-family: Poppins, sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.08em;
  padding-bottom: 1.4rem;
}

.text {
  line-height: 1.66667rem;
  padding-bottom: 2.8rem;
}

.btn {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 30px;
  @include mixins.leaf-shape-rect(1.11111rem, #37806B);
}

.rounded-img-container {
  padding-right: $image-rect-space;
  padding-bottom: $image-rect-space;
}

.rounded-img-wrapper {
  position: relative;
}

.rounded-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  @include mixins.leaf-shape-rect($image-rect-border-radius);
}

.rounded-img-decore {
  position: absolute;
  left: $image-rect-space;
  top: $image-rect-space;
  z-index: 0;
  width: 100%;
  height: 100%;
  @include mixins.leaf-shape-rect($image-rect-border-radius);
  border: 2px solid #B0855B;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.hide {
  transform: translateX(-100%);
  opacity: 0;
}

.hidden {
  display: none;
}

@media (max-width: vars.$mobile) {
  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .rounded-img,
  .rounded-img-decore {
    @include mixins.leaf-shape-rect($image-rect-border-radius-small);
  }

  .rounded-img-container {
    padding-right: $image-rect-space-small;
    padding-bottom: $image-rect-space-small;
  }

  .rounded-img-decore {
    left: $image-rect-space-small;
    top: $image-rect-space-small;
  }
}
