@mixin leaf-shape-rect($border-radius: 1rem, $bg-color: inherit) {
  border-radius: $border-radius 0;
  background-color: $bg-color;
}

@mixin service-selected-and-header-hover-btn() {
  border-radius: 20px;
  border: 5px solid #37806B;
  background: #FFF;
  color: #37806B;
  padding: 10px 15px;
}
